name: CI
on:
  push:
    tags:
      - "*"
    branches:
      - master
      - renovate/**
  pull_request:

env:
  DOTNET_CLI_TELEMETRY_OPTOUT: 1
  DOTNET_NOLOGO: 1
  DOTNET_GENERATE_ASPNET_CERTIFICATE: false
  NET_VERSION: 10.0.x

jobs:
  check_format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Check .NET format
        run: dotnet format -v diag --verify-no-changes

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Test .NET 8.0
        run: dotnet test --logger:"console;verbosity=detailed" -c Release -f net8.0

      - name: Test .NET 10.0
        run: dotnet test --logger:"console;verbosity=detailed" -c Release -f net10.0

  build:
    name: Push nuget packages if a new tag is pushed
    needs: [test, check_format]
    if: ${{ github.event_name == 'push' && startsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest
    permissions:
      packages: write
    strategy:
      matrix:
        NugetProjectName:
        - UpdateChecker

    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-dotnet@v5
        with:
          dotnet-version: ${{ env.NET_VERSION }}

      - name: Build
        working-directory: ${{ matrix.NugetProjectName }}
        run: dotnet pack

      - name: Push nuget packages
        working-directory: ${{ matrix.NugetProjectName }}/bin/Release
        run: |
          dotnet nuget push *.nupkg -s https://nuget.pkg.github.com/HMBSbige -k ${{ secrets.GITHUB_TOKEN }} --skip-duplicate
          dotnet nuget push *.nupkg -s https://api.nuget.org/v3/index.json -k ${{ secrets.NuGetAPIKey }} --skip-duplicate

  release:
    name: Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Create Release
        uses: ncipollo/release-action@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          draft: false
          prerelease: false
